body {
  background-color: #ed795c;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pokedex {
  margin-right: auto;
}


.App {
  text-align: center;
  margin-top: 50px;
}

.App2 {
  text-align: center;
  margin-top: 50px;
  margin-right: 900px;
}

.pokemon {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  outline: 2px solid black;
}

.pokemon img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.language-buttons {
  margin-bottom: 20px;
  margin-right: 685px;
}

.language-buttons button {
  margin: 5px;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d95448;
  color: #fff;
  outline: 2px solid black;
  border: none;
}

.language-buttons button:hover {
  background-color: #914943;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-column {
  margin-left: 10px;
}

.stats-column p {
  text-align: left;
}

.type-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.type {
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}